# Ejercicio 8. Descuento de flujos

Utilizando Pandas y NumPy, calcular el NPV de 100 euros pagaderos en 10 anualidades, desde el 31-12-2023 al 31-12-2032.

* Descontados al 2%

In [1]:
import pandas as pd
import numpy as np
s = pd.date_range(start='2023-12-31', periods=10, freq='YE')
df = pd.DataFrame(s, columns=['Fecha'])
df['Importe'] = 100.
df

       Fecha  Importe
0 2023-12-31    100.0
1 2024-12-31    100.0
2 2025-12-31    100.0
3 2026-12-31    100.0
4 2027-12-31    100.0
5 2028-12-31    100.0
6 2029-12-31    100.0
7 2030-12-31    100.0
8 2031-12-31    100.0
9 2032-12-31    100.0

In [2]:
df['factor'] = 1 / (1+0.02) ** df.index
df

       Fecha  Importe    factor
0 2023-12-31    100.0  1.000000
1 2024-12-31    100.0  0.980392
2 2025-12-31    100.0  0.961169
3 2026-12-31    100.0  0.942322
4 2027-12-31    100.0  0.923845
5 2028-12-31    100.0  0.905731
6 2029-12-31    100.0  0.887971
7 2030-12-31    100.0  0.870560
8 2031-12-31    100.0  0.853490
9 2032-12-31    100.0  0.836755

In [3]:
print("NPV: %.2f" % (np.vdot(df.Importe, df.factor)))

NPV: 916.22

### * Descontados utilizando la curva libre de riesgo (RFR) de EIOPA a 31-12-2023.

In [4]:
filename='EIOPA_RFR_20231231_Term_Structures.xlsx'
sheetname='RFR_spot_no_VA'
rfr = pd.read_excel(filename, sheet_name=sheetname, skiprows=9, usecols=(1,2), names=['t','Euro'])
df['rfr'] = rfr['Euro'].loc[:10].copy()
df['factor_rfr'] = 1 / (1+df.rfr) ** (df.index+1)
print(df)

       Fecha  Importe    factor      rfr  factor_rfr
0 2023-12-31    100.0  1.000000  0.03357    0.967520
1 2024-12-31    100.0  0.980392  0.02690    0.948296
2 2025-12-31    100.0  0.961169  0.02439    0.930259
3 2026-12-31    100.0  0.942322  0.02350    0.911273
4 2027-12-31    100.0  0.923845  0.02323    0.891525
5 2028-12-31    100.0  0.905731  0.02321    0.871388
6 2029-12-31    100.0  0.887971  0.02331    0.851039
7 2030-12-31    100.0  0.870560  0.02349    0.830484
8 2031-12-31    100.0  0.853490  0.02370    0.809927
9 2032-12-31    100.0  0.836755  0.02393    0.789400

In [5]:
print("NPV (RFR): %.2f" % (np.vdot(df.Importe, df.factor_rfr)))

NPV (RFR): 880.11