# Ejercicio 4. Vida entera (Pasem2020 2ord Unisex)

In [1]:
import pandas as pd

In [2]:
pasem2020 = pd.read_csv('PASEM2020_Decesos_2ord_Unisex.csv')
pasem2020.head(5)

            LX
0  100000.0000
1   99002.7280
2   98002.9236
3   97003.0858
4   96003.2180

In [3]:
def lx(edad):
    return pasem2020['LX'][edad]

lx(45)

55015.6972

In [4]:
edad = 45
df = pd.DataFrame(pd.date_range(start='2023-12-31',periods=len(pasem2020)-edad,freq='Y'), columns=['Fecha'])
df.head(5)

       Fecha
0 2021-12-31
1 2022-12-31
2 2023-12-31
3 2024-12-31
4 2025-12-31

In [5]:
df['edad'] = edad + df.index
df.tail(5)

        Fecha  edad
62 2083-12-31   107
63 2084-12-31   108
64 2085-12-31   109
65 2086-12-31   110
66 2087-12-31   111

In [6]:
df['t'] = df.index
df['lx'] = df['edad'].apply(lambda x: lx(x))
df.head(5)

       Fecha  edad  t          lx
0 2021-12-31    45  0  55015.6972
1 2022-12-31    46  1  54016.8787
2 2023-12-31    47  2  53018.2543
3 2024-12-31    48  3  52019.8557
4 2025-12-31    49  4  51021.7100

In [7]:
df['qx'] = df['lx'].diff(-1).fillna(0)/df['lx'][0]
df.head(5)

       Fecha  edad  t          lx        qx
0 2021-12-31    45  0  55015.6972  0.018155
1 2022-12-31    46  1  54016.8787  0.018152
2 2023-12-31    47  2  53018.2543  0.018148
3 2024-12-31    48  3  52019.8557  0.018143
4 2025-12-31    49  4  51021.7100  0.018138

In [8]:
df['capital'] = 5000

In [9]:
df['pagos'] = df['capital'] * df['qx']
df.head(5)

       Fecha  edad  t          lx        qx  capital      pagos
0 2021-12-31    45  0  55015.6972  0.018155     5000  90.775774
1 2022-12-31    46  1  54016.8787  0.018152     5000  90.758134
2 2023-12-31    47  2  53018.2543  0.018148     5000  90.737612
3 2024-12-31    48  3  52019.8557  0.018143     5000  90.714628
4 2025-12-31    49  4  51021.7100  0.018138     5000  90.688753

In [10]:
df['pagos'].sum()

5000.0

In [11]:
i = 0.98/100
df['factor_desc'] = df['t'].apply(lambda t : 1 / (1 + i) ** t )
df.head(2)

       Fecha  edad  t          lx        qx  capital      pagos  factor_desc
0 2021-12-31    45  0  55015.6972  0.018155     5000  90.775774     1.000000
1 2022-12-31    46  1  54016.8787  0.018152     5000  90.758134     0.990295

In [12]:
df.to_excel('Ejercicio_4.xlsx')

In [13]:
import numpy as np
np.dot(df['pagos'],df['factor_desc']).round(2)

3863.92

In [14]:
import numpy_financial as npf
npf.npv(i,df['pagos']).round(2)

3863.92